.gallery-head {
    /*display: inline;*/
}

.row-fluid {
    color: greenyellow;
    /*border: solid white;*/
    /*line-height: 0px;*/
    /*float: right;*/
}

.hoverRow:hover {
    background-color: #0b97c4;
}

.hoverRow {
    float: right;
}

/*img {*/
    /*height: 100%;*/
    /*width: auto;*/
/*}*/

body {
    background-color: #222222;
    /*color: white;*/
    /*font-size: 2.5vw;*/
    /*display: inline;*/
}
/*.gallery-head {*/
    /*/!*float: left;*!/*/
/*}*/
/*.gallery-img {*/
    /*/!*float: left;*!/*/
/*}*/

/*h4 {*/

/*}*/

a {
    color: white;
}

/*/!*.gallery-songs:hover {*!/*/
    /*/!*background-color: #222222;*!/*/
/*/!*}*!/*/
/*.gallery-songs{*/
    /*/!*line-height: 0px;*!/*/
    /*margin: 0 0 35px;*/
    /*/!*float: right;*!/*/
/*}*/